.App {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 0.65fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}
.mainContentArea {
  grid-area: main;
}
.sidebarArea {
  grid-area: sidebar;
  margin-top: -16px;
}
.footer {
  grid-area: footer;
}
