body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: SourceSansProRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SourceSansProRegular";
  src: url("src/public/fonts/SourceSansPro-Regular.ttf");
}
